.admin-container {
    width: 80%;
    margin: 0 auto;
    text-align: center;
    font-family: 'Arial, sans-serif';
}

.admin-container h1 {
    color: #333;
    font-size: 2.5em;
    margin-bottom: 20px;
}

.admin-container h2 {
    color: #4CAF50;
    font-size: 1.8em;
    margin: 20px 0;
}

table {
    width: 100%;
    margin: 20px 0;
    border-collapse: collapse;
}

table thead {
    background-color: #4CAF50;
    color: white;
}

table th, table td {
    border: 1px solid #ddd;
    padding: 12px;
    text-align: left;
}

table tr:nth-child(even) {
    background-color: #f9f9f9;
}

table tr:hover {
    background-color: #f1f1f1;
}

table th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #4CAF50;
    color: white;
}

select {
    width: 100%;
    padding: 8px;
    margin: 0;
    border: 1px solid #ddd;
    border-radius: 4px;
    box-sizing: border-box;
}

button {
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    margin: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #45a049;
}

.candidate {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 10px 0;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
    background-color: #f9f9f9;
}

.candidate span {
    font-size: 1.2em;
    color: #333;
}
